html,body{
    height:100vh;
    margin:0;
}
body {
    background-image: url('https://images.wallpaperscraft.com/image/single/street_road_buildings_193749_3840x2400.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:center;
}
.blurry{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    backdrop-filter:blur(2.5px);
    z-index:-1;
}
.glass-border{
    border:12px solid rgba(255,255,255,.2);
    background:transparent;
    backdrop-filter: blur(3px);
    display:flex;
    align-items:center;
    justify-content:center;
}
.glass-border-2{
    border:12px solid rgba(255,255,255,.2);
    background:transparent;
    backdrop-filter: blur(3px);
    display:flex;
    align-items:center;
    justify-content:center;
}
.container {
    display:flex;
    flex-direction: column;
    min-width:72%;
    width:auto;
    min-height:72%;
    height:auto;
    background-color: rgba(255, 255, 255, 0.8); 
    overflow: hidden;
    padding:46px;
}
.container-h{
    display:flex;
    flex-direction:column;
    min-width: 72%;
    width:auto;
    min-height:72%;
    height:auto;
    background-color: rgba(255, 255, 255, 0.8); 
    overflow: hidden;
    padding:31.9px;
    padding-left:142px;
    padding-right:142px;
}
.heading{
    font-family:Helvetica;
    font-weight:600;
    margin-top:-70px;
    text-align:center;
    font-size:45px;
    color:rgb(46,114,190);
}
.greet{
    font-family:Helvetica;
    font-weight:700;
    text-align:center;
    font-size:25px;
    color:rgb(255,124,74);
}
.info{
    font-size:19.5px;
    opacity:0.6;
}
.info2{
    font-size:25px;
    color:rgb(255,124,74);
    font-weight:600;
    text-align:center;
    display:flex;
    flex-direction:column;
}
.button1 {
    background-color: rgb(46,114,190);
    border: none;
    color: white;
    width:130px;
    height:50px;
    font-size:21px;
    text-align: center;
    text-decoration: none;
    position:relative;
    left:88.5%;
    bottom:40px;
}
.button2{
    background-color: rgb(46,114,190);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size:14px;
    padding:13px;
    max-width:300px;
    display:flex;
    margin:0 auto;
}
.button3{
    background-color: rgb(46,114,190);
    border: none;
    color: white;
    width:130px;
    height:40px; 
    text-align: center;
    text-decoration: none;
    font-size:21px;
    position:relative;
    margin-top:15px;
    left:92%;
}
.button4{
    background-color: rgb(190, 52, 52);
    color:white;
    width:25px;
    height:35px;
    position:relative;
    bottom:164px;
    left:1035px;
}
.page{
    display:inline-block;
    font-size:60px;
}
.page2{
    display:inline-block;
    font-size:60px;
}
.total1{
    position:relative;
    left:96%;
    bottom:55px;
    opacity:0.4;
}
.total2{
    position:relative;
    left:1070px;
    bottom:40px;
    opacity:0.4;
}
.tot_page1{
    position:relative;
    font-size:23px;
    bottom:25px;
}
.tot_page2{
    position:relative;
    font-size:23px;
    bottom:25px;
}
.dropdown-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto; 
    grid-gap: 20px;
}
.dropdown{
    width:450px;
    height: 40px;
    margin-bottom: 20px;
}
.category {
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}
.category2{
    font-size:20px;
    display:grid;
    position:relative;
    bottom:240px;
    left:800px;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
@media (max-width: 576px) {
    .container {
        width: 95%;
    }
}